@page "/students"
@inherits StudentListListBase

<h3>StudentList</h3>

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">是否显示</label>

@if (Students is null)
{
    <div class="spinner"></div>
}
else
{

    <div class="row">
        @foreach (var student in Students)
        {
            <DisplayStudent Student="student" ShowFooter="ShowFooter">
            </DisplayStudent>
        }
    </div>


}